@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;700&display=swap');

.version2Header, .version2values {
    display: flex;
    margin: 0.3rem 10rem;
    justify-content: left;
    img {
        align-self: center;
        margin: 0 !important;
        margin-bottom: 1.45rem;
        padding-right: 0.3rem;
    }
    h1 {
        font-family: 'Nunito', sans-serif !important;
        padding-left: 0.045rem;
        align-self: center;
        padding-top: 1.3rem;
    }
    &__tag {
        color: rgba(34, 34, 34, 0.1);
        font-size: 72px;
        font-weight: 700;
    }
    hr {
        margin-left: 0.2rem;
        margin-right: 0.2rem;
        margin-top: 1.8rem;
        width: 35%;
        align-self: center;
    }
}
@media only screen and (max-width: 768px) {
    .version2Header {
        margin: 0.2rem 2rem;
        h1 {
            padding-top: 1.3rem;
            font-size: 22px;
        }
        hr {
            width: 30%;
        }
    }
}
@media only screen and (max-width: 568px) {
    .version2Header {
        margin: 0.04rem;
        h1 {
            padding-top: 1.3rem;
            font-size: 16px;
        }
    }
}