.button {
    padding: 0.6rem 1.2rem;
    background-color: #796FED;
    border-radius: 3px;
    color: white;
    font-family: 'IBM Plex Mono', monospace;
    display: flex;
     img {
         margin-bottom: 0;
         padding-right: 0.6rem;
     }
}
