.FirstRowCreateTodo {
  display: flex;
}
.createTodo {
  background-color: #f9f9fd;
  border: 0.5px solid #c2c5ff;
  border-radius: 3px;
  width: 100%;
  padding: 0.4rem 1rem;
}
.tabHeader,
.innerTabHeader,
.innerTabHeaderRight {
  display: flex;
  justify-content: space-between;
}
.tabHeaderHR {
  width: 105.49%;
  margin-left: -1rem;
  background-color: #c2c5ff;
}
.tabTitle {
  padding-left: 0.3rem;
  font-family: "Caveat" !important;
  font-size: xx-large;
}
.tabTitleItem {
  margin: 0;
  padding-bottom: 0.4rem;
}
.timeDurationWrapper {
  display: flex;
  font-family: "IBM Plex Mono", monospace;
  .timeWrapper {
    display: flex;
    div {
      padding-right: 0.4rem;
    }
  }
}
.tabBody {
  overflow: scroll;
}
.arrowIcon {
  margin: 0;
  cursor: pointer;
}

// // ongoing todo
.todo {
  display: flex;
  img {
    padding-right: 0.3rem;
    margin-top: 0.2rem;
    margin-bottom: 1rem;
  }
  button, span {
    .todoItemName {
      color: rgb(29, 29, 29);
      text-decoration: none;
      margin: 0;
      font-family: "IBM Plex Mono" !important;
      text-transform: initial !important;
      margin-bottom: 1rem !important;
      font-size: medium;
      font-weight: normal;
      letter-spacing: 0.5;
      text-transform: capitalize;
      text-align: left;
    }
  }
}

.allTodoWrapper {
  display: flex;
  width: 100%;
  padding-top: 4.8rem;
  .createTodoWrapper {
    width: 50%;
    margin: 1rem 5rem;
  }
  .secondTodoColumn {
    margin-right: 5rem;
    margin-top: 2rem;
    width: 40%;

    .secondRowCardWrapper,
    .quoteCardWrapper {
      width: 100%;
      padding: 0.5rem 1rem;
      border-radius: 3px;
      font-family: "IBM Plex mono";
    }
    .secondRowCardWrapper {
      background-color: #ccceff;
      border: 0.1px solid #9ea3f6;
      background-image: url("../../../images/icons/quotes.svg");
      background-repeat: no-repeat;
      background-size: cover;
    }
    .quoteCardWrapper {
      background-color: #f9f9fd;
      border: 0.1px solid #d8dafa;
      .secondRowCardHeader {
        p {
          font-family: "Caveat";
        }
      }
      .reloadQuoteIcon {
        padding-right: 0.3rem;
        margin-bottom: 1.35rem;
      }
    }
    .quoteData {
      background-image: url("../../../images/icons/quotes.svg");
      background-repeat: no-repeat;
      p:nth-child(1) {
        font-family: "Caveat";
        font-size: x-large;
      }
      p:nth-child(2) {
        text-align: center;
        color: rgb(166, 165, 170);
      }
    }
    .secondRowCardHeader {
      display: flex;
      justify-content: space-between;
    }
    .secondRowCardHeader img {
      cursor: pointer;
    }
    .thirdRowCardBody,
    .weatherData {
      display: flex;
      justify-content: space-between;
    }
    .weatherData {
      h2 {
        padding-top: 10px;
        margin: 0;
        display: flex;
        img {
          margin-bottom: 1rem !important;
        }
        .tempUnit {
          font-size: small;
          margin-left: 0.1rem;
          span {
            cursor: pointer !important;
          }
          span:hover {
            font-size: medium;
          }
        }
      }
      img:nth-child(2) {
        margin: 0;
      }
    }
  }
}
@media only screen and (min-width: 3567px) {
  .tabHeaderHR {
    width: 102%;
  }
}
@media only screen and (min-width: 1567px) {
  .tabHeaderHR {
    width: 102.7%;
  }
}
@media only screen and (max-width: 1167px) {
  .FirstRowCreateTodo {
    display: block;
  }
  .createTodo {
    width: 93%;
    padding: 0.2rem 0.5rem;
  }
  .tabHeaderHR {
    width: 102%;
    margin-left: -0.5rem;
  }
  .tabTitle {
    font-size: xx-large;
  }
  .allTodoWrapper {
    display: block;
    .createTodoWrapper {
      width: 97%;
      margin: 0.8rem 2rem;
    }
    .secondTodoColumn {
      margin: 0.8rem 2rem;
    }
  }
  .secondTodoColumn {
    width: 90% !important;
  }
}
@media only screen and (max-width: 767px) {
  .FirstRowCreateTodo {
    display: block;
  }
  .createTodo {
    width: 93%;
    padding: 0.2rem 0.5rem;
  }
  .tabHeaderHR {
    width: 103%;
    margin-left: -0.5rem;
  }
  .tabTitle {
    font-size: xx-large;
  }
  .allTodoWrapper {
    display: block;
    .createTodoWrapper {
      width: 97%;
      margin: 0.8rem 2rem;
    }
    .secondTodoColumn {
      margin: 0.8rem 2rem;
    }
  }
  .secondTodoColumn {
    width: 90% !important;
  }
}
@media only screen and (max-width: 467px) {
  .allTodoWrapper {
    display: block;
    .createTodoWrapper {
      width: 100% !important;
      margin: 0.8rem 1rem !important;
    }
    .secondTodoColumn {
      margin: 0.8rem 1rem !important;
    }
  }
  .FirstRowCreateTodo {
    display: block;
  }
  .createTodo {
    width: 90% !important;
  }
  .tabHeaderHR {
    width: 105%;
    margin-left: -0.5rem;
  }
  .tabTitle {
    font-size: x-large;
  }
  .secondTodoColumn {
    width: 90% !important;
  }
}
