.groupedTodo {
  display: block;
  .groupedTodoTitle {
    font-size: large;
    font-family: "IBM Plex mono";
    margin-bottom: 0 !important;
    font-weight: bold;
  }
  ul {
    margin-bottom: 0 !important;
    li {
      list-style: none !important;
      text-decoration: none;
      font-family: "IBM Plex mono";
      display: flex;
      img {
        margin-top: 0.2rem !important;
        margin-right: 1.5px !important;
        margin-bottom: 0 !important;
      }
    }
    .noKeywordTodoItem {
      margin-left: -1.4rem !important;
      display: flex;
    }
  }
}
