$mainBackgroundColor: #757AFF;
$titleFont: "Caveat";
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@300&display=swap');

.navHeader {
    background-color: $mainBackgroundColor;
}
.navMenuWrapper {
    margin: 0 8rem;
}
.logo {
    margin-top: 0.6rem;
    margin-bottom: 0;
}
.footer {
    font-family: 'IBM Plex Mono', monospace;
}
.footerDetails {
    display: flex;
    p {
        padding-left: 0.6rem;
        padding-top: 0.3rem;
    }
}
.footerHr {
    background-color: $mainBackgroundColor;
}

// mobile design
@media only screen and (max-width: 467px) {
    .navMenuWrapper {
        margin: 0 1rem;
    }
}
@media only screen and (max-width: 667px) {
    .navMenuWrapper {
        margin: 0 2rem;
    }
}
@media only screen and (max-width: 967px) {
    .navMenuWrapper {
        margin: 0 4rem;
    }
}
